.data-controller-credential-subject-view-outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10001;
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;

  .data-controller-credential-subject-view-outer-popup {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;

    .data-controller-credential-subject-view-outer-popup-header {
      width: 100%;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(40, 61, 75);

      .data-controller-credential-subject-view-outer-popup-header-left {
        width: 47%;
        height: 80%;
        margin-top: 0.5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-image: url("../../embemremo.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
      }
      .data-controller-credential-subject-view-outer-popup-header-right {
        width: 50%;
        height: 100%;
        margin-top:1%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        button {
          background-color: transparent;
          border: none;
          color: white;
          font-size: 180%;
          cursor: pointer;
        }
      }
    }
    .data-controller-credential-subject-view-outer-popup-items {
      width: 100%;
      height: 10%;
      background-color: rgb(40, 61, 75);
      display: flex;
      justify-content: space-around;
      align-items: center;
      .data-controller-credential-subject-view-outer-popup-item-left {
        width: 20%;
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        padding-left: 5%;
      }
      .data-controller-credential-subject-view-outer-popup-item {
        width: 33.3%;
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        margin-left: 3%;
      }
    }

    .data-controller-credential-subject-view-outer-popup-body {
      width: 100%;
      height: 75%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      .data-controller-credential-subject-view-outer-popup-body-inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .data-controller-credential-subject-view-outer-popup-body-diff-table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;

          .data-controller-credential-subject-view-outer-popup-body-diff-table-th-row {
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: rgb(46, 30, 30);
            color: white;
            padding: 12px;

            .data-controller-credential-subject-view-outer-popup-body-diff-table-th-row-heading {
              width: 33.3%;
              height: 100%;
              color: white;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }

          .data-controller-credential-subject-view-outer-popup-body-diff-table-tb {
            width: 100%;
            .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-changed {
              font-size: 110%;
              font-weight: 500;

              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-key {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 1%;
                width: 15%;
                background-color: rgb(221, 102, 122);
                color: rgb(0, 0, 0);
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
                background-color: rgb(221, 102, 122);
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-end {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
                background-color: rgb(221, 102, 122);
              }
            }
            .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-unchanged {
              background-color: #f0f0f0e0;

              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-key {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 1%;
                width: 15%;
                background-color: rgb(212, 215, 218);
                color: rgb(36, 36, 36);
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-end {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
              }
            }
          }
        }
      }
    }

    .data-controller-credential-subject-view-outer-popup-footer {
      width: 100%;
      height: 12%;
      background-color: rgba(215, 219, 224, 0.795);
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        color: white;
        background-color: rgba(79, 91, 107, 0.795);
        border: none;
        cursor: pointer;
        border-radius: 15px;
        width: 30%;
        height: 50%;
        margin-left: 2rem;
        font-size: 100%;
      }
    }
  }
}
