.data-controller-credential-subject-view-outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10001;
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;

  .data-controller-credential-subject-view-outer-popup {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;

    .data-controller-credential-subject-view-outer-popup-header {
      width: 100%;
      height: 10%;
      padding-right: 5%;
      padding-top: 2%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
    .data-controller-credential-subject-view-outer-popup-items {
      width: 100%;
      height: 10%;
      background-color: rgb(40, 61, 75);
      display: flex;
      justify-content: space-around;
      align-items: center;
      .data-controller-credential-subject-view-outer-popup-item-left {
        width: 20%;
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(40, 61, 75);
        color: white;
        padding-left: 5%;
      }
      .data-controller-credential-subject-view-outer-popup-item {
        width: 33.3%;
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(40, 61, 75);
        color: white;
        margin-left: 3%;
      }
    }

    .data-controller-credential-subject-view-outer-popup-body {
      width: 100%;
      height: 75%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      .data-controller-credential-subject-view-outer-popup-body-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;

        .data-controller-credential-subject-view-outer-popup-body-diff-table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;

          .data-controller-credential-subject-view-outer-popup-body-diff-table-th-row {
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: rgb(46, 30, 30);
            color: white;
            padding: 12px;

            .data-controller-credential-subject-view-outer-popup-body-diff-table-th-row-heading {
              width: 33.3%;
              height: 100%;
              color: white;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }

          .data-controller-credential-subject-view-outer-popup-body-diff-table-tb {
            display: block; // key trick
            max-height: 100%;
            overflow-y: auto;

            .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-changed {
              display: table;
              width: 100%;
              table-layout: fixed;
              min-height: 48px;
              background-color: #ff4545;

              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-key {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 20%;
                background-color: rgb(70, 97, 116);
                color: white;
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
              }
            }
            .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-unchanged {
              display: table;
              width: 100%;
              table-layout: fixed;
              min-height: 48px;
              background-color: #83e77fe0;

              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data-key {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 20%;
                background-color: rgb(70, 97, 116);
                color: white;
              }
              .data-controller-credential-subject-view-outer-popup-body-diff-table-tb-diff-row-data {
                padding: 12px;
                word-break: break-word;
                text-align: left;
                padding-left: 6%;
                width: 30%;
              }
            }
          }
        }
      }
    }

    .data-controller-credential-subject-view-outer-popup-footer {
      width: 100%;
      height: 15%;
      background-color: #858181;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
