.data-controller-profile-data-subjects-alert-div {
  width: 0%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  background: #f7f9fc;
  padding: 0;
  white-space: nowrap;
  transform: translateX(40px);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  z-index: 101;

  .data-controller-profile-data-subjects-alert-div-top-outer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #31383d;

    .data-controller-profile-data-subjects-alert-div-top-outer-form {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-top-outer-form-search-field {
        width: 55%;
        border-radius: 10px;
        height: 35%;
        border-style: solid;
        outline: none;
      }
      .data-controller-profile-data-subjects-alert-div-top-outer-form-search-btn {
        width: 20%;
        height: 40%;
        border-radius: 10px;
        background-color: #31383d;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
      }

      .data-controller-profile-data-subjects-alert-div-top-outer-form-cancel-btn {
        width: 15%;
        height: 40%;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        background-color: #94373d;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .data-controller-profile-data-subjects-alert-div-middle-outer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    overflow-y: scroll;

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-rejected {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #ff59595a;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-approved {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #9bfb0068;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-pending {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #b3daff5b;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-skipped {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #f3f57fce;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-queued {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #9e95ff5f;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-field-name {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
    }
    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-ds-unique {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-activity-status {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;

      .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-fetchIconForActivity {
        width: 32%;
        height: 60%;
        background-color: rgba(113, 122, 134, 0.137);
        border-radius: 100%;
        padding: 8%;
      }
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-dropdown {
        padding: 6px 20px;
        outline: none;
        text-align: left;
        border-radius: 35px;
        background-color: rgba(87, 87, 87, 0.158);
        cursor: pointer;
        font-size: 80%;
      }
    }
  }

  .data-controller-profile-data-subjects-alert-div-bottom-outer {
    width: 100%;
    height: 15%;
    background-color: #83888b;
    display: flex;
    justify-content: center;
    align-items: center;

    .data-controller-profile-data-subjects-alert-div-bottom-outer-form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn {
        width: 40%;
        height: 40%;
        border-radius: 5px;
        border: none;
        background-color: rgb(40, 65, 88);
        color: white;
        cursor: pointer;
      }

      .user-profile-data-subjects-alert-div-bottom-outer-form-btn:hover {
        background-color: rgb(30, 50, 70);
      }
    }
  }
}

.data-controller-profile-data-subjects-alert-div.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 80%;
  height: 100%;
  visibility: visible;
  white-space: normal;
  opacity: 1;
  transform: translateX(0);
  background: #ffffff;

  .data-controller-profile-data-subjects-alert-div-top-outer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid #31383d;

    .data-controller-profile-data-subjects-alert-div-top-outer-form {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-top-outer-form-search-field {
        width: 55%;
        border-radius: 10px;
        height: 35%;
        border-style: solid;
        outline: none;
      }
      .data-controller-profile-data-subjects-alert-div-top-outer-form-search-btn {
        width: 20%;
        height: 40%;
        border-radius: 10px;
        background-color: #31383d;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
      }

      .data-controller-profile-data-subjects-alert-div-top-outer-form-cancel-btn {
        width: 15%;
        height: 40%;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        background-color: #94373d;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .data-controller-profile-data-subjects-alert-div-middle-outer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    overflow-y: scroll;

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-rejected {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #ff59595a;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-approved {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #9bfb0068;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-pending {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #b3daff5b;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-skipped {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #f3f57fce;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-queued {
      display: flex;
      justify-content: center;
      padding: 12px;
      align-items: center;
      width: 90%;
      height: 8%;
      color: black;
      background-color: #9e95ff5f;
      margin-top: 2%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-field-name {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
    }
    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-ds-unique {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-activity-status {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;

      .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-fetchIconForActivity {
        width: 32%;
        height: 60%;
        background-color: rgba(113, 122, 134, 0.137);
        border-radius: 100%;
        padding: 8%;
      }
    }

    .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-dropdown {
        padding: 6px 20px;
        outline: none;
        text-align: left;
        border-radius: 35px;
        background-color: rgba(87, 87, 87, 0.158);
        cursor: pointer;
        font-size: 80%;
      }
    }
  }

  .data-controller-profile-data-subjects-alert-div-bottom-outer {
    width: 100%;
    height: 10%;
    background-color: #83888b;
    display: flex;
    justify-content: center;
    align-items: center;

    .data-controller-profile-data-subjects-alert-div-bottom-outer-form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn {
        width: 40%;
        height: 40%;
        border-radius: 5px;
        border: none;
        background-color: rgb(40, 65, 88);
        color: white;
        cursor: pointer;
      }

      .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn:hover {
        background-color: rgb(30, 50, 70);
      }
    }
  }
}
