.dashboard-outer-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #10141d;
  background-image: linear-gradient(
      rgba(16, 20, 29, 0.9),
      rgba(16, 20, 29, 0.9)
    ),
    url("../../blob.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: -350% 80%;

  .dashboard-outer-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    .dashboard-div-middle {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 80%;
      overflow: hidden;

      .dashboard-div-middle-quote {
        text-align: left;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-left: 10%;

        .dashboard-div-middle-quote-title {
          font-size: 350%;
          margin: 0;
          font-weight: bold;
          color: #ffffff;
        }

        .dashboard-div-middle-quote-description {
          font-size: 100%;
          color: #c4c4c4;
          margin: 0;
          margin-top: 2%;
        }
      }

      .dashboard-div-middle-illustration {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 100%;
        background-image: url("../../blob.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: float 6s ease-in-out infinite;
      }

      /* Keyframes for floating */
      @keyframes float {
        0% {
          transform: translateY(0px) rotate(0deg);
        }
        25% {
          transform: translateY(-10px) rotate(-2deg);
        }
        50% {
          transform: translateY(0px) rotate(0deg);
        }
        75% {
          transform: translateY(10px) rotate(2deg);
        }
        100% {
          transform: translateY(0px) rotate(0deg);
        }
      }
    }
    .dashboard-div-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15%;

      .dashboard-div-bottom-credentials-form {
        display: flex;
        width: 100%;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        .dashboard-div-bottom-credentials-form-select {
          padding: 0.7rem 1rem;
          border-radius: 8px;
          border: 1px solid #ccc;
          outline: none;
          min-width: 320px;
          width: 30%;
          &:focus {
            border-color: #9fc6ff;
          }
          background-color: transparent;
          color: #ffffff;
        }

        .dashboard-div-bottom-credentials-form-input {
          padding: 0.7rem 1rem;
          border-radius: 8px;
          outline: none;
          border: 1px solid #ccc;
          &:focus {
            border-color: #4a6fa5;
          }
          &::placeholder {
            color: #ffffff;
          }
          min-width: 320px;
          width: 30%;
          background-color: transparent;
          color: #ffffff;
        }

        .dashboard-div-bottom-credentials-form-submit {
          padding: 0.7rem 4rem;
          border-radius: 8px;
          border: none;
          background-color: #4a6fa5;
          color: #fff;
          font-size: 0.9rem;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background-color: #3b5d8a;
          }
        }
      }
    }

    .dashboard-div-popup-overlay {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.316);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      width: 100%;
      height: 100vh;

      .dashboard-div-popup-container {
        position: relative;
        color: white;
        background: rgba(5, 5, 5, 0.89);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 18px;
        min-width: 420px;
        max-width: 600px;
        box-shadow: 0 10px 100px rgb(40, 65, 88),
          inset 0 0 0 1px rgba(255, 255, 255, 0);
        animation: popupFadeIn 0.35s ease-out;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 40%;
        padding-top: 5%;
        padding-bottom: 5%;

        .dashboard-div-popup-container-form-input-username,
        .dashboard-div-popup-container-form-input-password {
          padding: 0.7rem 1rem;
          border-radius: 8px;
          border: 1px solid #ccc;
          outline: none;
          min-width: 320px;
          width: 70%;
          margin-top: 5%;
          &:focus {
            border-color: #9fc6ff;
          }
          background-color: transparent;
          color: #ffffff;
        }

        .dashboard-div-popup-container-credentials-form-submit {
          padding: 0.7rem 4rem;
          border-radius: 8px;
          margin-top: 10%;
          border: none;
          background-color: #4a6fa5;
          color: #fff;
          font-size: 0.9rem;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.3s ease;
          width: 77%;
          &:hover {
            background-color: #3b5d8a;
          }
        }
      }
      @keyframes popupFadeIn {
        from {
          opacity: 0;
          transform: scale(0.9) translateY(10px);
        }
        to {
          opacity: 1;
          transform: scale(1) translateY(0);
        }
      }

      .dashboard-div-popup-container.deactive {
        opacity: 0;
        transform: scale(0.9);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      .data-controller-profile-result-div-middle {
        background-image: url("../../wallpaper.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 10001;

        .data-controller-profile-result-div-middle-1 {
          width: 10%;
          height: 70%;
        }
        .data-controller-profile-result-div-middle-3 {
          width: 3%;
          height: 70%;
        }
        .data-controller-profile-result-div-middle-5 {
          width: 5%;
          height: 50%;
        }

        .data-controller-profile-result-div-middle-2 {
          width: 30%;
          height: 80%;
          background: rgb(255, 255, 255);
          border-radius: 15px;
          overflow: hidden;
          box-shadow: 0 10px 100px rgb(40, 65, 88),
            inset 0 0 0 1px rgba(255, 255, 255, 0);

          .data-controller-profile-result-div-middle-2-top {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .data-controller-profile-result-div-middle-2-top-image {
              width: 43%;
              height: 55%;
              border-radius: 100%;
              margin-top: 8%;
              background-image: url("../../profile.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;

              .notification-bell {
                font-size: 200%;
                cursor: pointer;
                position: absolute;
                bottom: 70%;
                right: 5%;
                background-color: #283248;
                border-radius: 100%;
                padding-top: 2%;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
              }

              .notification-bell:hover {
                background-color: #3e4f71;
                transition: 0.3s;
              }

              .notification-badge {
                position: absolute;
                top: 5%;
                right: 2%;
                background: #86a0d8;
                color: white;
                font-size: 100%;
                font-weight: bold;
                border-radius: 50%;
                min-width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px 4px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
              }
            }

            .data-controller-profile-result-div-middle-2-top-name {
              width: 100%;
              height: 25%;
              margin-top: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 150%;
              font-weight: bold;
              border-bottom: 3px solid rgb(185, 185, 185);
            }

            .data-controller-profile-result-div-middle-2-top-name-reduced-font {
              width: 100%;
              height: 25%;
              margin-top: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 130%;
              font-weight: bold;
              border-bottom: 3px solid rgb(185, 185, 185);
            }
          }

          .data-controller-profile-result-div-middle-2-middle {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 90%;

            .data-controller-profile-result-div-middle-2-middle-center {
              width: 90%;
              height: 70%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }

          .data-controller-profile-result-div-middle-2-middle-reduced-font {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 80%;

            .data-controller-profile-result-div-middle-2-middle-center {
              width: 90%;
              height: 70%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }

          .data-controller-profile-result-div-middle-2-bottom {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .data-controller-profile-result-div-middle-2-bottom-btn {
              width: 80%;
              height: 40%;
              border-radius: 15px;
              border-style: none;
              background-color: rgb(40, 65, 88);
              color: white;
              text-align: center;
              cursor: pointer;
              outline: none;
            }
          }
        }
        .data-controller-profile-result-div-middle-4 {
          width: 60%;
          height: 80%;
          background: rgb(255, 255, 255);
          border-radius: 15px;
          box-shadow: 50px 5px 100px rgba(40, 65, 88, 0.664),
            inset 0 0 0 1px rgba(255, 255, 255, 0);
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          overflow: hidden;

          .data-controller-profile-result-div-middle-4-top {
            width: 100%;
            height: 85%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-left: 10%;
            padding-top: 3%;
            text-align: left;

            .data-controller-profile-result-div-middle-4-top-data-table {
              width: 90%;
              height: 80%;
              font-size: 80%;
              .data-controller-profile-result-div-middle-4-top-data-table-key-cell {
                text-align: left;
                width: 15%;
              }

              .data-controller-profile-result-div-middle-4-top-data-table-key-cell-reduced-font {
                width: 20%;
              }
              .data-controller-profile-result-div-middle-4-top-data-table-colon-cell {
                width: 5%;
              }

              .data-controller-profile-result-div-middle-4-top-data-table-value-cell {
                width: 80%;
                .value-input {
                  width: 90%;
                  height: 70%;
                  border-radius: 5px;
                  border-style: solid;
                  border-color: rgb(235, 235, 235);
                  font-size: 90%;
                }
              }

              .data-controller-profile-result-div-middle-4-top-data-table-value-cell-reduced-font {
                width: 80%;
                .value-input {
                  width: 80%;
                  height: 70%;
                  border-radius: 5px;
                  border-style: solid;
                  border-color: rgb(235, 235, 235);
                  font-size: 90%;
                }
              }
            }
          }

          .data-controller-profile-result-div-middle-4-bottom {
            width: 100%;
            height: 15%;
            border-top: 3px solid rgb(185, 185, 185);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            .data-controller-profile-result-div-middle-4-bottom-form {
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: flex-end;
              align-items: left;
              padding-right: 2%;

              .data-controller-profile-result-div-middle-4-bottom-dropdown {
                width: 30%;
                height: 100%;
                border-radius: 5px;
                border-style: solid;
                background-color: rgb(40, 65, 88);
                color: white;
                text-align: center;
                outline: none;
                cursor: pointer;
              }
              .data-controller-profile-result-div-middle-4-bottom-btn {
                width: 30%;
                height: 100%;
                border-radius: 5px;
                border-style: none;
                background-color: rgb(40, 65, 88);
                color: white;
                text-align: center;
                cursor: pointer;
                margin-left: 2%;
              }
            }
          }
        }

        .data-controller-profile-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;

          background-color: rgba(0, 0, 0, 0.5);

          opacity: 0;
          visibility: hidden;
          transition: opacity 0.4s ease;

          z-index: 100; // below popup
        }

        .data-controller-profile-overlay.active {
          opacity: 1;
          visibility: visible;
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(2px);
        }

        .data-controller-profile-popup-div {
          width: 0%;
          height: 100%;
          overflow: hidden;
          visibility: hidden;
          background: #f7f9fc;
          padding: 0;
          white-space: nowrap;
          transform: translateX(40px);
          transition: all 0.5s ease;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: left;
          z-index: 101;

          .data-controller-profile-popup-div-top-outer {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #31383d;
          }

          .data-controller-profile-popup-div-middle-outer {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #9399a300;

            .data-controller-profile-popup-div-middle-data-table {
              width: 90%;
              height: 150%;
              background-color: #9399a300;

              .data-controller-profile-popup-div-middle-data-table-key-cell {
                width: 30%;
                font-size: 90%;
                padding-left: 2%;
              }

              .data-controller-profile-popup-div-middle-data-table-colon-cell {
                width: 5%;
              }

              .data-controller-profile-popup-div-middle-data-table-value-cell {
                width: 65%;
                .value-input {
                  width: 90%;
                  height: 50%;
                  border-radius: 5px;
                  border-style: solid;
                  border-color: rgb(235, 235, 235);
                  font-size: 90%;
                }
              }
            }
          }

          .data-controller-profile-popup-div-bottom-outer {
            width: 100%;
            height: 15%;
            background-color: #83888b;
            display: flex;
            justify-content: center;
            align-items: center;

            .data-controller-profile-popup-div-bottom-outer-form {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-popup-div-bottom-outer-form-btn {
                width: 40%;
                height: 40%;
                border-radius: 5px;
                border: none;
                background-color: rgb(40, 65, 88);
                color: white;
                cursor: pointer;
              }

              .user-profile-popup-div-bottom-outer-form-btn:hover {
                background-color: rgb(30, 50, 70);
              }
            }
          }
        }

        .data-controller-profile-popup-div.active {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: left;
          width: 50%;
          height: 100%;
          visibility: visible;
          white-space: normal;
          opacity: 1;
          transform: translateX(0);
          background: #ffffff;

          .data-controller-profile-popup-div-top-outer {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #31383d;
          }

          .data-controller-profile-popup-div-middle-outer {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #9399a300;

            .data-controller-profile-popup-div-middle-data-table {
              width: 90%;
              height: 80%;
              background-color: #9399a300;

              .data-controller-profile-popup-div-middle-data-table-key-cell {
                width: 30%;
                font-size: 80%;
                padding-left: 2%;
              }

              .data-controller-profile-popup-div-middle-data-table-colon-cell {
                width: 5%;
              }

              .data-controller-profile-popup-div-middle-data-table-value-cell {
                width: 65%;
                .value-input {
                  width: 90%;
                  height: 50%;
                  border-radius: 5px;
                  border-style: solid;
                  border-color: rgb(235, 235, 235);
                  font-size: 80%;
                }
              }
            }
          }

          .data-controller-profile-popup-div-bottom-outer {
            width: 100%;
            height: 15%;
            background-color: #83888b;
            display: flex;
            justify-content: center;
            align-items: center;

            .data-controller-profile-popup-div-bottom-outer-form {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-popup-div-bottom-outer-form-btn {
                width: 40%;
                height: 40%;
                border-radius: 5px;
                border: none;
                background-color: rgb(40, 65, 88);
                color: white;
                cursor: pointer;
              }

              .data-controller-profile-popup-div-bottom-outer-form-btn:hover {
                background-color: rgb(30, 50, 70);
              }
            }
          }
        }

        .data-controller-profile-delete-popup {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 50vh;
          position: fixed;
          z-index: -100;
          opacity: 0;
          background-color: white;
          transition: 0s ease-in;
        }

        .data-controller-profile-delete-popup.active {
          width: 50%;
          height: 50vh;
          position: fixed;
          z-index: 102;
          opacity: 1;
          background-color: white;
          transition: 0.3s ease-in;
          border-radius: 15px;

          .data-controller-profile-delete-popup-active-form {
            width: 90%;
            height: 90%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .data-controller-profile-delete-popup-active-form-div-checkbox {
              width: 100%;
              height: 15%;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              .data-controller-profile-delete-popup-active-form-div-checkbox-1 {
                width: 3%;
                height: 100%;
              }
            }

            .data-controller-profile-delete-popup-active-form-div-buttons {
              width: 100%;
              height: 15%;
              margin-top: 2%;
              padding-top: 2%;
              display: flex;
              text-align: center;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-delete-popup-active-form-div-buttons-btn {
                width: 40%;
                height: 100%;
                border-radius: 5px;
                border: none;
                background-color: rgb(40, 65, 88);
                color: white;
                cursor: pointer;
              }

              .data-controller-profile-delete-popup-active-form-div-buttons-btn:hover {
                background-color: rgb(30, 50, 70);
              }
            }
          }
        }

        .data-controller-profile-data-subjects-alert-div {
          width: 0%;
          height: 100%;
          overflow: hidden;
          visibility: hidden;
          background: #f7f9fc;
          padding: 0;
          white-space: nowrap;
          transform: translateX(40px);
          transition: all 0.5s ease;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: left;
          z-index: 101;

          .data-controller-profile-data-subjects-alert-div-top-outer {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #31383d;

            .data-controller-profile-data-subjects-alert-div-top-outer-form {
              width: 80%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-top-outer-form-search-field {
                width: 55%;
                border-radius: 10px;
                height: 35%;
                border-style: solid;
                outline: none;
              }
              .data-controller-profile-data-subjects-alert-div-top-outer-form-search-btn {
                width: 20%;
                height: 40%;
                border-radius: 10px;
                background-color: #31383d;
                outline: none;
                border: none;
                color: white;
                cursor: pointer;
              }

              .data-controller-profile-data-subjects-alert-div-top-outer-form-cancel-btn {
                width: 15%;
                height: 40%;
                border: none;
                outline: none;
                color: white;
                border-radius: 10px;
                background-color: #94373d;
                outline: none;
                border: none;
                cursor: pointer;
              }
            }
          }

          .data-controller-profile-data-subjects-alert-div-middle-outer {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow-x: hidden;
            flex-direction: column;
            overflow-y: scroll;

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-rejected {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #ff59595a;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-approved {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #9bfb0068;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-pending {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #b3daff5b;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-queued {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #9e95ff5f;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-field-name {
              width: 25%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              overflow: hidden;
            }
            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-ds-unique {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-activity-status {
              width: 15%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              pointer-events: none;

              .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-fetchIconForActivity {
                width: 32%;
                height: 60%;
                background-color: rgba(113, 122, 134, 0.137);
                border-radius: 100%;
                padding: 8%;
              }
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-dropdown {
                padding: 6px 20px;
                outline: none;
                text-align: left;
                border-radius: 10px;
                cursor: pointer;
              }
            }
          }

          .data-controller-profile-data-subjects-alert-div-bottom-outer {
            width: 100%;
            height: 15%;
            background-color: #83888b;
            display: flex;
            justify-content: center;
            align-items: center;

            .data-controller-profile-data-subjects-alert-div-bottom-outer-form {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn {
                width: 40%;
                height: 40%;
                border-radius: 5px;
                border: none;
                background-color: rgb(40, 65, 88);
                color: white;
                cursor: pointer;
              }

              .user-profile-data-subjects-alert-div-bottom-outer-form-btn:hover {
                background-color: rgb(30, 50, 70);
              }
            }
          }
        }

        .data-controller-profile-data-subjects-alert-div.active {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: left;
          width: 80%;
          height: 100%;
          visibility: visible;
          white-space: normal;
          opacity: 1;
          transform: translateX(0);
          background: #ffffff;

          .data-controller-profile-data-subjects-alert-div-top-outer {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-bottom: 2px solid #31383d;

            .data-controller-profile-data-subjects-alert-div-top-outer-form {
              width: 80%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-top-outer-form-search-field {
                width: 55%;
                border-radius: 10px;
                height: 35%;
                border-style: solid;
                outline: none;
              }
              .data-controller-profile-data-subjects-alert-div-top-outer-form-search-btn {
                width: 20%;
                height: 40%;
                border-radius: 10px;
                background-color: #31383d;
                outline: none;
                border: none;
                color: white;
                cursor: pointer;
              }

              .data-controller-profile-data-subjects-alert-div-top-outer-form-cancel-btn {
                width: 15%;
                height: 40%;
                border: none;
                outline: none;
                color: white;
                border-radius: 10px;
                background-color: #94373d;
                outline: none;
                border: none;
                cursor: pointer;
              }
            }
          }

          .data-controller-profile-data-subjects-alert-div-middle-outer {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow-x: hidden;
            flex-direction: column;
            overflow-y: scroll;

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-rejected {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #ff59595a;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-approved {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #9bfb0068;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-pending {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #b3daff5b;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-queued {
              display: flex;
              justify-content: center;
              padding: 12px;
              align-items: center;
              width: 90%;
              height: 8%;
              color: black;
              background-color: #9e95ff5f;
              margin-top: 2%;
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-field-name {
              width: 25%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              overflow: hidden;
            }
            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-ds-unique {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-activity-status {
              width: 15%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              pointer-events: none;

              .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-fetchIconForActivity {
                width: 32%;
                height: 60%;
                background-color: rgba(113, 122, 134, 0.137);
                border-radius: 100%;
                padding: 8%;
              }
            }

            .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-middle-outer-alert-card-action-dropdown {
                padding: 6px 20px;
                outline: none;
                text-align: left;
                border-radius: 10px;
                cursor: pointer;
              }
            }
          }

          .data-controller-profile-data-subjects-alert-div-bottom-outer {
            width: 100%;
            height: 10%;
            background-color: #83888b;
            display: flex;
            justify-content: center;
            align-items: center;

            .data-controller-profile-data-subjects-alert-div-bottom-outer-form {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn {
                width: 40%;
                height: 40%;
                border-radius: 5px;
                border: none;
                background-color: rgb(40, 65, 88);
                color: white;
                cursor: pointer;
              }

              .data-controller-profile-data-subjects-alert-div-bottom-outer-form-btn:hover {
                background-color: rgb(30, 50, 70);
              }
            }
          }
        }
      }
    }
  }

  .dashboard-outer-div.deactive {
    width: 100%;
    height: 0%;
    overflow: hidden;
  }

  .dashboard-result-div {
    width: 100%;
    height: 0%;
    overflow: hidden;
    visibility: hidden;
    background: #f7f9fc;
    padding: 0;
    white-space: nowrap; // prevents text wrap during animation
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.8s ease;
  }

  .dashboard-result-div.active {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
    height: 100%;
    visibility: visible;
    white-space: normal;
    opacity: 1;
    transform: translateX(0);
    background: #ffffff;

    .header {
      background-color: #10141d;
    }
  }
}
.dashboard h1 {
  margin: 10px 0;
  font-size: 2rem;
}
